#Ignore matrix files for tp1#
#############################
test_32x32.mat
train_32x32.mat

#Ignore corpus files for tp2#
#############################
miniproject2/chorpus/sessiontune*
allabcwrepeats_parsed
buildset.sh
temp.txt

#Ignore large files (300MB+)
#############################
ex4_final_dataset.txt
p_tensor.npy
t_tensor.npy
